<div class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">@Texto</span>
    </div>
</div>
@code {
    [Parameter]
    public string Texto { get; set; }
}