@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. <br />

Esta es la Info de la url de Real Time <br />

<h3>Configuración RealTime</h3>
<p>UrlBlackJackRealTime: @Config.UrlBlackJackRealTime</p>

<SurveyPrompt Title="How is Blazor working for you?" />
