@page "/requests-list"
@using Newtonsoft.Json;
@using Fluxor.Blazor.Web.Components;
@inherits FluxorComponent
@inject IState<BlackJackSore> _store
@inject IDispatcher _dispatcher
@inject NavigationManager _nav
@inject DialogService _dialogservice
@inject IHubConnectionService _hubConnectionService
<h3>Lista de Solicitudes</h3>

<button @onclick="() => OnClickCreateRequest()" disabled="@(!IsConnected)">
    Crear Solicitud
</button>

<hr />
<br />
@if (_store.Value.Loader.RequestIsLoading)
{
        <div class="d-flex justify-content-center align-items-center">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
}
else
{
    <div class="container">
         <div class="row row-cols-1 row-cols-md-3">
    @foreach (var solicitud in _store.Value.BlackJackRequests)
    {
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="images/blackJack.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@solicitud.PlayerId</h5>
                    <p class="card-text">@solicitud.Id</p>
                    <a href="#" class="btn btn-primary">Aceptar Solicitud</a>
                </div>
            </div>
        </div>
    }
        </div>
    </div>
}
@code{


    public bool IsConnected = false;

    protected override void OnParametersSet()
    {
        _dispatcher.Dispatch(new StartGetAllRequest());

        base.OnParametersSet();
    }

    //TODO: Crear efecto de aceptar solicitud 
    //TODO: eSCUCHAR CUANDO SE Acepta una solicitud y actualizar el request del store
    //TOD: crear los efectos de crear blackjack que seria stargame
    //tODO: dESARROLLAR ACCIONES QUE FALTAN CON SUS EFECTOS PARA EL DESARROLLO COMPLETO DEL BACKJACK
    protected override void OnInitialized()
    {
        HubConnection hubConnection = _hubConnectionService.GetHubConnection();

        // Manejar el evento OnConnected antes de iniciar la conexión                
        hubConnection.On<List<GameRequestBackJackOutput>>("GetAllRequests", (requests) =>
        {
            IsConnected = hubConnection?.State == HubConnectionState.Connected;
            _dispatcher.Dispatch(new EndGetAllRequest(requests));

        });

        ///await hubConnection.StartAsync(); 

        base.OnInitialized();
    }

    private async Task OnClickCreateRequest()
    {
        try
        {
            await _dialogservice.OpenAsync<CrearSolicitud>($"Crear Solicitud de BlackJack",
               new Dictionary<string, object>() { },
               new DialogOptions() { Width = "700px", Height = "512px", Resizable = true, Draggable = true });
        }
        catch (Exception ex)
        {
            // Manejar el error, por ejemplo, mostrar un mensaje de error
            Console.WriteLine($"Error al abrir el cuadro de diálogo: {ex.Message}");
        }
    }

}