.navbar-toggler[b-rmr9j688qb] {
    background-color: #2196F3;
}

.top-row[b-rmr9j688qb] {
    height: 3.5rem;
    background-color: #0683e8;
}

.navbar-brand[b-rmr9j688qb] {
    font-size: 1.1rem;
}

.oi[b-rmr9j688qb] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rmr9j688qb] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rmr9j688qb] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rmr9j688qb] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rmr9j688qb]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rmr9j688qb]  a.active {
    background-color: #1d84d7;
    color: white;
}

.nav-item[b-rmr9j688qb]  a:hover {
    background-color: #6fbffe;
    color: white;
}

@media (min-width: 1344px) {
    .navbar-toggler[b-rmr9j688qb] {
        display: none;
    }

    .collapse[b-rmr9j688qb] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
